@mixin toast($color) {
    background-color: rgba($color: $color, $alpha: .3);
    color: $color;
}


@mixin flex-row-center-center($row : "",$justify:"",$align:"") {
    display: flex;
    @if $row {
        flex-direction: $row;
    }
    @if $justify {
        justify-content: $justify;
    }
    @if $align {
        align-items: $align;
    }
}

@mixin task_state($color) {
    border-left: 4px solid $color;
    span {
        &> * {
            &:first-child {
                background-color: $color;
            }
        }
    }
}
