.home {
    color: #363636;
    

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1rem;
    }
    
    h1 {
        font-size: 3.2em;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2.8rem;
    }

    p {
        font-size: 1.2rem;
    }
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

    }

    .btn-CTA {
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        border-radius: 25px !important;
        border: none;
        margin-top: 2rem;
        background: linear-gradient(to left, $second-color, $third-color);
        box-shadow: 3px 3px 6px 0.5px rgba(0, 0, 0, .2);
        transition: all .5s ease-in-out;
        display: inline-block;
        &:hover, &:focus {
            transform: scale(1.05);
            cursor: pointer;
        }
    }

    .animation {
        display: flex;
        justify-content: center;
    }

    .subsection {
        width: 50%;
    }

    .subhero {

        background: #004b7b;
        color: white;
        
        .subhero-section-1, .subhero-section-2 {
            width: 50%;
        }
        
    }

    .section-CTA {
        padding-bottom: 15vh;
        max-width: 1200px;
        margin: 0 auto;
    }

    .section-CTA div {
        display: flex;        
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .section-contact {
        background: #004b7b;
        padding-top: 15vh;
        padding-bottom: 15vh;
        display: flex;        
        justify-content: center;
       

        h3 {
            color: white;
            text-align: center;
            margin-bottom: 12vh;
        }

        .contact-form {
    
            display: flex;
            flex-direction: column;
            justify-content: center;

            form {

                div {
                    display: flex;
                    flex-direction: column;
                }
                    
                label {
                    margin-top: 10px;
                    color: white;
                    padding-left: 10px;
                }
            
                input, textarea {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    border: none;
                    padding: .9rem .5rem;
                    outline: none;
                }
    
                textarea {
                    padding: 5px;
                    padding-top: 10px;
                }

                input[type="submit"] {
                    margin: auto;
                    width: 300px;
                    margin-top: 20px;
                    padding: .8rem .5rem;
                }



            }

        }

    }

}



@media screen and (max-width: 1200px) {

    .home {

        .subsection, .section-CTA, .wrapper {
            margin-left: 10vh;
            margin-right: 10vh;
        }

        section {
            padding-top: 70px;
            padding-bottom: 70px;;
        }
    }
}


@media screen and (max-width: 800px) {

    .home {

        h1 {
            font-size: 2.2rem  !important;
        }

        h2 {
            font-size: 2.2rem !important;
        }

        h3 {
            font-size: 20px !important;
        }

        section {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .subsection, .section-CTA {
            text-align: center;
            max-width: 500px;
        }

        .subsection, .section-CTA, .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            //width: 90%;
            //margin: 0 auto;
        }

        
    
        .flex {
            flex-direction: column;
        }

        .section-contact {
            padding-top: 50px;
            padding-bottom: 50px;
         
        }

        .subsection, .section-CTA, .wrapper {
            margin-left: 5vh;
            margin-right: 5vh;
        }
        
    }


}


@media screen and (max-width: 600px) {

    .home {
        .animation-lottie {
            display: none !important;
        }
    }
}    


