.mentionslegales {
    margin: 0 auto;
    margin-top: 15vh;
    margin-bottom: 20vh;
    color: #363636;
    max-width: 500px;
    

    
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }
    
    p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {

    .mentionslegales {

        margin-left: 5vh;
    }
}