//NAVBAR - LEFT

//NAVBAR
.my-navbar {
     background-color: $primary-color-dark;
     padding: .5rem 0;
     max-width: 100%;

     &-inner {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          //NAVBAR - LOGO
          &-logo {
               //IMAGE
               img{
                    width: 70px;
                }
          }

          //NAVBAR - RIGHT LIST
          &-list {
               display: none;
               flex-direction: row;
               align-items: center;

               &-item {
                    a {
                         display: inline-block;
                         padding: .7rem 1rem;
                         color: $dark-white-color;
                         font-weight: 700;
                         text-transform: uppercase;
                         transition: all .3s ease-in-out;
                    }
                    &:last-child a{
                         background-color: $success-color;
                         color: $white-color;
                         border-radius: .3rem;
                         margin-left: .7rem;
                         &:hover {
                              color: $primary-color-dark;
                              background-color: lighten($color: $success-color, $amount: .5);
                         }
                     }
                     &:nth-last-child(2) a {
                         border: 1px solid $dark-white-color;
                         border-radius: .3rem;
                         &:hover {
                              color: $primary-color-dark;
                              background-color: lighten($color: $dark-white-color, $amount: .1);
                         }
                     }
               }

               //Profile - Projects area
               &-profile {

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &-item {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         position: relative;
                         &:not(.profil) {
                              top: 7px;
                         }

                         &>a {
                              margin: 0 .5rem;
                              padding-left: 1rem;
                              i {
                                   font-size: 1.5rem;
                                   color: $white-color;
                              }
                         }

                         &>span{

                              &.badge{
                                   position: absolute;
                                   top: -12px;
                                   right: 0;
                                   padding: 0 .3rem;
                                   border-radius: .2rem;
                                   color: $dark-white-color;
                                   font-size: 12px;
                                   display: block;
                                   &.success {
                                   background: $success-color;
                                   }
                                   display: block;
                                   &.danger {
                                   background: $danger-color;
                                   }
                                   &.warning {
                                   background: $warning-color;
                                   }
                              }
                         }

                         &.profil {
                              position: relative;
                              padding-left: 1rem;
                              
                              .profile-image {
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   width: 40px;
                                   height: 40px;
                                   overflow: hidden;
                                   border-radius: 50%;
                                   border: 2px solid $default-color;
                                   cursor: pointer;
                                   img {
                                   display: block;
                                   position: relative;
                                   width: 100%;
                                   top: 5px;
                                   }
                              }
                         }
                    }
               }
          }

          //HUMBURGER
          &-humburger {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               width: 45px;
               height: 40px;
               border-radius: .2rem;
               background-color: rgba($color: #ffffff, $alpha: .2);
               cursor: pointer;
               position: relative;
              z-index: 3;
               span {
                    display: inline-block;
                    width: 35px;
                    height: 4px;
                    background: $white-color;
                    position: relative;
                    transition: all .3s ease-in-out;

                    // display: flex;
                    // flex-direction: column;
                    // justify-content: center;
                    // align-items: center;

                    transition: all .3s ease-in-out;

                    &::before,&::after {
                         content: "";
                         position: absolute;
                         top: -10px;
                         left: 0;
                         width: inherit;
                         height: inherit;
                         background: $white-color;
                    }
                    &::before{
                         top: -10px;
                    }
                    &::after{
                         top: 10px;
                    }
               }

               
               &.open {
                    background-color: rgba($color: #ffffff, $alpha: .5);
                    span {
                         transform: rotate(-45deg);
                         background-color: $first-color;
                         &::before {
                              top: 0;
                              background-color: $first-color;
                              transform: rotate(-90deg);
                         }
                         &::after {
                              display: none;
                         }
                    }
               }
          }
     }
 }
  //DROPDOWN
//TODO - don't work as i want
.main-dropdown {
     position: absolute;
     top: 0;
     right: 15px;
     display: none;
     background-color: $primary-color-dark;
     float: right;
     z-index: 3;
     
     ul {
          min-width: 200px;
          display: flex;
          flex-direction: column;
          li {
               a {
                    display: block;
                    width: 100%;
                    padding: .8rem 0.5rem;
                    color: $white-color;
               }
               &:hover {
                    a {
                         background-color: rgba($color: $white-color, $alpha: .5);
                    }
               }
          }
     }

     //dropdown activate
     &.show {
          display: none;
     }
}
 
.main-humburger {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba($color: $third-color, $alpha: .1);
     display: grid;
     place-items: center;
     transform: translateY(-100vh);
     transition: all .4s ease-in-out;
     overflow: hidden;
     z-index: 1;
     .main-humburger-list {

          display: flex;
          flex-direction: column;
          align-items: center;

         &-item {
              a {
                   display: inline-block;
                   padding: .7rem 1.2rem;
                   text-transform: uppercase;
                   color: $white-color;
                   &:hover {
                        text-decoration: underline;
                   }
              }
         }
    }
    &.show-js {
         //display: grid;
         transform: translateY(0);
         background-color: rgba($color: $third-color, $alpha: 1);

    }
}

//Overflow for menu
.overflow {
     height: 100vh;
     overflow: hidden;
}
//-----------------------------------------------------------------
                            // TABLET
//-----------------------------------------------------------------
@media screen and (min-width : 725px) {
     .my-navbar {
          &-inner {
     
               //NAVBAR - RIGHT LIST
               &-list {
                    display:flex;
               }

               //HUMBURGER
               &-humburger {
                    display: none;
               }
          }
      }

        //DROPDOWN
     //TODO - don't work as i want
     .main-dropdown {
          &.show {
               display: block;
          }
     }
 
 }
 //-----------------------------------------------------------------
                             // DESKTOP
 //-----------------------------------------------------------------
 
 @media screen and (min-width : 1024px) {
 }
