//-----------------------------------------------------------------
                            // MOBILE
//-----------------------------------------------------------------
.project{
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    &-inner{

        .inner-title {
            h3 {
                color: $dark-color;
                font-weight: 700;
            }
        }
        
        //GLOBAL SCRIPT FOR REPETITIVE AREA
        .project-title {
            display: flex;
            flex-direction: row;
            
            align-items: center;
            i{
                font-size: 1.5rem;
                color: $first-color;
            }
            h3 {
                padding: 0 .5rem;
                font-size: 1rem;
            }
            padding: .5rem 0;
        }
        
        //PROJECTS-CARD
        .projects {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            &-item {
                width: 100%;
                height: 200px;
                border-radius: .3rem;
                position: relative;
                box-shadow: 1px 2px 3px rgba($color: #000000, $alpha: .1),
                -1px -2px 3px rgba($color: #000000, $alpha: .1);  
                overflow: hidden;
                img {
                    width: 100%;
                    opacity: 0.5;
                }

                &-title {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 50px;
                    width: 100%;
                    background-color: rgba($color: $default-color, $alpha: .5);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: .5rem 1rem;
                    color: $dark-white-color;
                    &-front {
                       width: 100%;
                       height: 100%;
                       @include flex-row-center-center(row,space-between,center);
                        h4 {
                            font-size: 1.2rem;
                            z-index: 2;
                        }
                        i {

                            padding: .5rem;
                            cursor: pointer;
                            font-size: 1.2rem;
                            z-index: 2;
                        }
                   }

                   &-hover {
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        @include flex-row-center-center(row,space-between,center);
                       display: none;
                       form {
                            &>button {
                                background: none;
                                border: 0;
                                cursor: pointer;
                                outline: none;
                                i {
                                    padding: .5rem;
                                    font-size: 1.7rem;
                                }
                                &:first-child {
                                    color: $primary-color;
                                }
                                &:last-child {
                                    color: $danger-color;
                                }
                            }
                       }
                        &>a {
                            
                            i {

                                padding: .5rem;
                                cursor: pointer;
                                font-size: 1.7rem;
                            }
                            &:first-child {
                                color: $primary-color;
                            }
                            &:last-child {
                                color: $danger-color;
                            }
                        }
                    }

                    &.hover {
                        .projects-item-title-front {
                            display: none;
                        }
                        .projects-item-title-hover {
                            display: flex;
                        }
                    }
                }
                 //LINK
                 &>a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: inherit;
                    height: inherit;
                    background-color: rgba($color: #000000, $alpha: 0) ;
                    z-index: 0;
                    transition: background-color .3s ease-in-out;
                    &:hover {
                        background-color: rgba($color: #000000, $alpha: .2) ;
                    }
                }
            }
        }

        //ADD - BTN
        &-add {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            margin-bottom: 1rem;

            .project-add-btn {
                position: absolute;
                right: 1rem;
                top:0;

                i {

                    font-size: 2.5rem;
                    color: $third-color;
                    cursor: pointer;
                    box-shadow: 0 1px 1px rgba($color: #000000, $alpha: .3);
                    border-radius: 50%;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: rgba($color: $third-color, $alpha: .5);
                    }
                }

                &.fixed {
                    position: fixed;
                    top: 50px;
                    right: 1rem;
                    z-index: 1;
                }
            }
        }

        //DOING
        &-doing {
            padding: 1rem 0 2rem 0;
            border-bottom: 1px dashed $default-color;
        }

        //PROJECTS - ALL
        &-projects {
            padding: 1rem 0 2rem 0;
        }
    }

    &.active {
        min-height: 100vh;
        height: 100vh;
        overflow: hidden;
    }
    //ADDITION BUTTON
   &-add {
       position: absolute;
       top: 0;
       left: 0;
       min-width: 100vw;
       height: 100vh;
       overflow-y: hidden;
       background-color: rgba($color: #000000, $alpha: .5);
       display: none;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        z-index: 2;
       &-new {
            

            display: block;
            min-width: 352px;
            z-index: 2;
            .inner-title {
           
                h3 {
                    font-size: 1.3rem;
                    color: $white-color;
                }
            }
           
        }

        &.active {
            display: flex;
        }
   }

}

//-----------------------------------------------------------------
                            // TABLET
//-----------------------------------------------------------------
@media screen and (min-width : 725px) {
    .project {
        &-inner {
            //PROJECTS-CARD
            .projects {
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}
//-----------------------------------------------------------------
                            // DESKTOP
//-----------------------------------------------------------------

@media screen and (min-width : 1024px) {
    .project {
        &-inner {
            
            //PROJECTS-CARD
            .projects {
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}