//-----------------------------------------------------------------
                            // MOBILE
//-----------------------------------------------------------------
.project {
    &-inner {

        .inner-title {
            h3 {
                color: $dark-color;
                font-weight: 700;
            }
        }
        
        //GLOBAL SCRIPT FOR REPETITIVE AREA
        .project-title {
            display: flex;
            flex-direction: row;
            
            align-items: center;
            i{
                font-size: 1.5rem;
                color: $first-color;
            }
            h3 {
                padding: 0 .5rem;
                font-size: 1rem;
            }
            padding: .5rem 0;
        }
        //PROJECTS-CARD
        .projects {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            &-item {
                width: 100%;
                height: 200px;
                border-radius: .3rem;
                position: relative;
                box-shadow: 1px 2px 3px rgba($color: #000000, $alpha: .1),
                -1px -2px 3px rgba($color: #000000, $alpha: .1);  
                overflow: hidden;
                img {
                    width: 100%;
                    opacity: 0.5;
                }

                &-title {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 50px;
                    width: 100%;
                    background-color: rgba($color: $default-color, $alpha: .5);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: .5rem 1rem;
                    color: $dark-white-color;
                    h4 {
                        font-size: 1.2rem;
                        z-index: 2;
                    }

                    i {
                        cursor: pointer;
                        font-size: 1.2rem;
                        z-index: 2;
                    }
                    
                }

                //LINK
                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: inherit;
                    height: inherit;
                    background-color: rgba($color: #000000, $alpha: 0) ;
                    z-index: 0;
                    transition: background-color .3s ease-in-out;
                    &:hover {
                        background-color: rgba($color: #000000, $alpha: .2) ;
                    }
                }
            }
        }

        //ADD - BTN
        &-add {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            margin-bottom: 1rem;
            .project-add-btn {
                position: absolute;
                right: 1rem;
                top:0;

                i {
                    font-size: 2.5rem;
                    color: $third-color;
                    cursor: pointer;
                    box-shadow: 0 1px 1px rgba($color: #000000, $alpha: .3);
                    border-radius: 50%;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: rgba($color: $third-color, $alpha: .5);
                    }
                }

                &.fixed {
                    position: fixed;
                    top: 50px;
                    right: 1rem;
                    z-index: 1;
                }
            }
            //TODO to active on js on click
            &.active {
                .project-inner-add-new {
                    display: block;
                }
            }
            &-new {
                display: none;
                width: 100%;
                position: absolute;
                top: 1.5rem;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                .inner-title {
                   
                    h3 {
                        font-size: 1.3rem;
                        color: $white-color;
                    }
                }
                .card {
                    padding: 3rem 1rem 1rem 1rem;
                    
                    .form-group {
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        align-items: center;
                        input {
                            padding: .8rem .5rem;
                            width: inherit;
                            border-radius: .3rem;
                            font-size: 1rem;
                            border: 1px solid $first-color;
                        }
                        //TODO Répétition inutile à optimiser
                        button {
                            margin-top: 1rem;
                            display: inline-block;
                            padding: .8rem 1.8rem;
                            border-radius: .3rem;
                            background: $first-color;
                            color: $white-color;
                            border: 0;
                            font-size: 1.1rem;
                            transition: all .3s ease-in-out;
                            box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: .2);
                            cursor: pointer;
                            &:hover{
                                background-color: rgba($color: $first-color, $alpha: .6);
                            }
                        }
                    }
                }
            }
        }

        //DOING
        &-doing {
            padding: 1rem 0 2rem 0;
            border-bottom: 1px dashed $default-color;
        }

        //PROJECTS - ALL
        &-projects {
            padding: 1rem 0 2rem 0;
        }
    }
}

//-----------------------------------------------------------------
                            // TABLET
//-----------------------------------------------------------------
@media screen and (min-width : 725px) {
    .project {
        &-inner {
            
            //PROJECTS-CARD
            .projects {
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}
//-----------------------------------------------------------------
                            // DESKTOP
//-----------------------------------------------------------------

@media screen and (min-width : 1024px) {
    .project {
        &-inner {
            
            //PROJECTS-CARD
            .projects {
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}