.resetpassword {
    max-width: 100vw;
    height: 84vh;
    padding: 0 .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    &-inner {
        width: 350px;

        &-title {
            position: relative;
            max-width: 325px;
            margin: 0 auto;
            border-radius: .5rem .5rem 0 0;
            background-color: $third-color;
            padding: 1rem .5rem;
            //bottom: -10px;
            //TODO mettre conforme à la maquette
            div {
                text-align: center;
                h3 {
                    font-size: 1.2rem;
                    color: $dark-white-color;
                }
            }
        }
        &-body {
            .form-login {
                text-align: center;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }

}