
.signup {

    max-width: 100vw;
    min-height: 84vh;
    padding: 2rem .5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    &-inner {
        width: 350px;

        &-title {

            position: relative;
            max-width: 325px;
            margin: 0 auto;
            border-radius: .5rem .5rem 0 0;
            background-color: $third-color;
            padding: 1rem .5rem;

            //bottom: -10px;
            //TODO mettre conforme à la maquette

            div {
                text-align: center;
                h3 {
                    font-size: 2rem;
                    color: $dark-white-color;
                }
            }
        }
       
        &-body {
            &-form {

                .form-group-item {
                    
                    span {
                        margin-top: -5px;
                        font-size: 12px;
                    }
                }

                .form-group-ugc {
                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        margin: .5rem 0;
                        label {
                           font-size: 12px;
                           padding-left: .5rem; 
                        }
                        span {
                            font-size: 13px;
                            a {
                                padding-left: .5rem;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

            }
        }
        
    }

}