.toast {
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    display: block;
    font-size: 1.2rem;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding:1rem;
    border-radius: .3rem;
    &.danger{
        @include toast($danger-color);
    }

    &.left {
        left: 10px;
        position: none !important;
    }
}

.form-danger {
    min-width: 20px;
    min-height: 20px;
    display: none;
    font-size: 1.2rem;
    padding:1rem;
    border-radius: .3rem;
    background-color: rgba($color: $danger-color, $alpha: .7);
    color: white;
    margin-bottom: 2rem;
}