.my-btn {
    display: block;
    padding: .8rem .5rem;
    border-radius: .3rem;
    outline: none;
    border: none;

    &.my-btn-default{
        background: $default-color;
    }
    &.my-btn-success{
        background: $success-color!important;
    }
    &.my-btn-danger {
        background-color: $danger-color!important;
    }
}